<!-- content  -->
  <div class="content">
    <section>
    <!-- RESET FORM --> 
    <form ng-submit="submitResetForm()" id="sign-up-form" class="form-signin" name="reset" >
      <h2 class="form-signin-heading">Update your account</h2>
      <div class="row">

        <!-- P A S S W O R D -->
        <div class="col-md-12"><label>Choose a password</label></div>
        <div class="control-group form-group col-md-12" ng-class="{'has-error':reset.password.$invalid && reset.password.$dirty}">
          <input type="password" class="form-control" placeholder="at least 6 characters" name="password" ng-model="resetForm.password" id="password" required ng-minlength="6" compare-to="resetForm.confirmPassword" >
          <span class="help-block has-error" ng-if="reset.password.$dirty">
            <span ng-show="reset.password.$error.required">Password is required.</span>
            <span ng-show="reset.password.$error.minlength">Password must be at least 6 characters.</span>
          </span>
        </div>

        <!-- C O N F I R M  P A S S W O R D -->
        <div class="col-md-12"><label>Confirm the password</label></div>
        <div class="control-group form-group col-md-12">
          <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="resetForm.confirmPassword" required>
          <span class="help-block has-error" ng-if="reset.confirmation.$dirty">
            <span ng-show="reset.password.$error.compareTo">Password must match.</span>
            <span ng-show="reset.confirmation.$error.required">Confirmation password is required.</span>
          </span>
        </div>

      </div>

      <br/>

      <!-- Disable reset button until the form has no errors -->
      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="reset.$invalid">
        <span ng-show="!resetForm.loading">Reset Your Password</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="resetForm.loading" ></span>
        <span ng-show="resetForm.loading">Reseting Your Password...</span>
      </button>

      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
    </section>
  </div>
<!-- content end-->      

                    