<!-- Page title -->
    <div class="dynamic-title">Blog</div>
<!-- Page title  end--> 

<!-- content  -->
    <div class="content">
        <section>
            <div class="container">
                <div class="row">
                    <!-- Articels -->
                                    <div class="col-md-8">
                                        <article>
                                            <h2 class="section-title dec-title"><span><strong></strong></span></h2>
                                            <div class="blog-media">
                                                <div class="box-item">
                                                    <a >
                                                    <span class="overlay"></span>
                                                    <img src="images/folio/thumbs/17.jpg"  alt="" class="respimg">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="blog-text">
                                                <p><%= news.description%></p>
                                            </div>
                                        </article>
                                        <ul class="creat-list">
                                            <li><a href="#">Next post</a></li>
                                            <li><a href="#">Prev post</a></li>
                                        </ul>                                               
                                    </div>
                                    <!-- Articels end-->

                    <!-- sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar">
                            <!-- widget -->
                            <div class="widget">
                                <div class="searh-holder">
                                    <form action="#" class="searh-inner">
                                        <input name="se" id="se" type="text" class="search" placeholder="Search.." value="Search..." />
                                        <button class="search-submit" id="submit_btn"><i class="fa fa-search transition"></i> </button>
                                    </form>
                                </div>
                            </div>
                            <!-- widget -->
                            <div class="widget">
                                <h3>About Author</h3>
                                <div class="clearfix"></div>
                                <img src="images/team/small/6.jpg" class="respimg waimg" alt="">
                                <p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate.</p>
                            </div>
                            <!-- widget -->
                            <div class="widget">
                                <h3>Last posts</h3>
                                <ul class="widget-posts">
                                    <li class="clearfix">
                                        <a href="#"  class="widget-posts-img"><img src="images/folio/thumbs/3.jpg" class="respimg" alt=""></a>
                                        <div class="widget-posts-descr">
                                            <a href="#" title="">Vivamus dapibus rutrum</a>
                                            <span class="widget-posts-date"> 21 Mar 09.05 </span> 
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar end-->
                </div>
            </div>
        </section>
    </div>
<!-- content  end-->